<div class="page-header">
    <h1>Index of action</h1>
</div>

<div class="row">
    <div class="span12">
        <p><%- link_to('<i class="icon-plus icon-white"></i> New action', pathTo.new_action(), {class: 'btn btn-primary'}) %></>
    </div>
</div>

<div class="row">
    <div class="span12">
        <% if (actions.length > 0) { %>
            <table class="table table-striped">
                <thead>
                    <tr>
                        <th>ID</th>
                        <th>Actions</th>
                    </tr>
                </thead>
                <tbody>
                    <% actions.forEach(function (action) { %>
                        <tr>
                            <td><strong><%- link_to('action #' + action.id, pathTo.action(action)) %></strong></td>
                            <td>
                                <%- link_to('<i class="icon-edit"></i> Edit', pathTo.edit_action(action), {class: 'btn btn-mini'}) %>
                                <%- link_to('<i class="icon-remove icon-white"></i> Delete', pathTo.action(action), {class: 'btn btn-mini btn-danger', method: 'delete', remote: true, jsonp: '(function (u) {location.href = u;})'}) %>        
                            </td>
                        </tr>
                    <% }); %>        
                </tbody>
            </table>
        <% } else { %>
            <p class="alert alert-block alert-info">
                <strong>No actions were found.</strong> 
            </p>
        <% } %>
    </div>
</div>
